<template>
<div class="hello-david">
  <div class="hello-david--title">
    Hello David!
  </div>
  <div class="hello-david--body">
    This is the test component. Component is the reusable piece of code (html + css + js in any combination).
    this component can be reused, and I'll show you how. In this project we will
    use <a href="https://bootstrap-vue.org/docs/components" target="_blank">Bootstrap vue components</a>
    This is the interesting chapter to start with <a target="_blank" href="https://bootstrap-vue.org/docs/components/layout">Layout and responsiveness</a>
  </div>
</div>
</template>

<script>
export default {
  name: 'HelloDavid'
}
</script>

<style scoped>
.hello-david {
  border: 1px solid #F0F0F0;
  border-radius: 4px;
  background-color: antiquewhite;
  color: midnightblue;
  padding: 1rem;
}

.hello-david--title {
  font-size: 1.5rem;
}
</style>
