<template>
  <b-row>
    <b-col md="4" lg="6">
      <b-img src="../assets/images/portfolio.png" alt="David itself"></b-img>
    </b-col>
    <b-col md="8" lg="6">
      <hello-david />
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: 'IndexPage'
}
</script>
