<template>
<b-container>
  <b-row>
    <b-col>
      I'm a course map page
    </b-col>
  </b-row>
</b-container>
</template>

<script>
export default {
  name: 'course-map'
}
</script>

<style scoped>

</style>
